body {
    margin: 0;
    padding: 0;
 }

.modal-wrap {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,1);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-wrap.gameStart {
    display: none !important;
}

.modal-wrap h1 {
    font-size: 10rem;
    margin-top: -5rem;
    line-height: 0;
    color: #fff;
    text-shadow: #FC0 1px 0 10px;
}


.modal-wrap #score-wrap {
    display: none;
    font-size: 2rem;
    color: #fff;
}

.modal-wrap #score-wrap span {
    font-size: 3rem;
    color: rgb(204, 83, 129);
    vertical-align: middle;
}

.modal-wrap button {
    margin-bottom: -100px;
    height: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(255, 199, 78);
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px rgb(209, 150, 23);
    font-size: 1.25rem;
    cursor: pointer;
}

.modal-wrap button:active {
    background-color: rgb(255, 183, 28);
    box-shadow: 0 4px rgb(155, 112, 21);
    transform: translateY(4px);
}

.game-window {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.tetris-wrap {
    padding-top: 30px;
    position: relative;
    margin-left: 100px;
}

.side-wrap  {
    position: absolute;
    right: -125px;
    top: 30px;
    text-align: center;

}

#tetris,
#next-table {
    border-collapse: collapse;
}


#tetris td {
    border: 1px solid rgba(0,0,0,0.6);
    width: 30px;
    height: 30px;
    box-shadow:inset 1px 0px 0px 5px rgba(0,0,0,0.1);

}

#next-table td {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    box-shadow:inset 1px 0px 0px 2px rgba(0,0,0,0.3);
}

#current-score {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #777;
}
#current-score span {
    color: black;
}

td.white {
    background-color: #ccc;
    box-shadow:none !important;
    border: 1px solid rgba(0,0,0,0) !important;
}

td.red {
    background-color: red;
}

td.blue {
    background-color: rgb(162, 233, 255);
}

td.orange {
    background-color: rgb(255, 160, 35);
}

td.green {
    background-color: rgb(109, 223, 75);
}

td.navy {
    background-color: rgb(9, 87, 255);
}

td.violet {
    background-color: rgb(156, 35, 255);
}

td.yellow {
    background-color: rgb(255, 230, 0);
}

td.black {
    background-color: black;
}

.keyboard-wrap {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.keyboard-wrap button {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}

.keyboard-wrap button.space {
    margin-right: 40px;
    width: 150px;
}

.keyboard-wrap .arrow-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-btns {
    margin-bottom: 4px;
}

button.pressed {
    background-color: #ffbb00;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}